div#game-container {
	padding: 0px;
	width: auto;
	height: 700px;
	background-color: 	#D3D3D3;
	

	/*image display */
	background-image: url(img/StartScherm.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: auto;
}

div#description {
	margin-left: 500px;
	width: 500px;
	height: 50px;
	padding: 5px;
	border: 3px solid black;
	color: white;
}

div#game-buttons {
	position: absolute;
	right: 350px;
	bottom: 60px;
}

h1#title {
	margin-left: 30px;
	text-align: center;
	color: white;
}

button#button3 {
	margin-left: 20px;
	margin-top: 5px;
}

img#inventoryItem {

	
}

img.InvItem1 {
	position: absolute;
	width: 40px;
	right: 465px;
	bottom: 250px;
}

img.InvItem2 {
	position: absolute;
	right: 120px;
	bottom: 100px;
}

button:hover {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

 #GameContainer{
	width:1000px;
}
.a{
	witd
}
